.bg-gray-1 {
  background-color: $gray-1 !important;
}

.bg-gray-2 {
  background-color: $gray-2 !important;
}

.bg-gray-3 {
  background-color: $gray-3 !important;
}

.bg-gray-4 {
  background-color: $gray-4 !important;
}

.bg-gray-5 {
  background-color: $gray-5 !important;
}

.bg-gray-6 {
  background-color: $gray-6 !important;
}

.text-gray-1 {
  color: $gray-1 !important;
}

.text-gray-2 {
  color: $gray-2 !important;
}

.text-gray-3 {
  color: $gray-3 !important;
}

.text-gray-4 {
  color: $gray-4 !important;
}

.text-gray-5 {
  color: $gray-5 !important;
}

.text-gray-6 {
  color: $gray-6 !important;
}

.text-suggestion {
  color: $suggestion-color !important;
}
