:root {
  font-size: 16px;
}

* {
  font-family:
    iransansx,
    iransansEn,
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    sans-serif;
  line-height: 1.5;
}

body {
  color: $secondary;

  // stylelint-disable-next-line
  ::selection {
    background-color: $primary-shade-1;
    color: $secondary;
  }
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.nuxt-icon {
  display: inline-block;
  line-height: 0;

  svg {
    margin-bottom: 0 !important;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  /* stylelint-disable */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* stylelint-enable */
  appearance: none;
}
